{% extends "hr/base.html" %}
{% load i18n static %}
{% block title %}İşçi əlavə et{% endblock %}
{% block main %}
<form action="{% url "hr:add_employee" %}" method="POST" enctype="multipart/form-data" {% if old_work_place_form %}novalidate{% endif %}>
  {% csrf_token %}
  {% if employee_form %}
    {% for field in employee_form %}
      <div class="form-row">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <div class="submit-row">
      <input type="submit" name="_add_employee" value="Göndər">
    </div>
  {% elif old_work_place_form %}
    <input type="hidden" name="employee" value="{{ employee_id }}">
    {% for field in old_work_place_form.visible_fields %}
      <div class="form-row">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <div class="submit-row">
      <input type="submit" name="_add_another" value="Yadda saxla və yenisini əlavə et">
      <input type="submit" name="_add_and_pass" value="Yadda saxla">
      <input type="submit" name="_pass" value="Keç">
    </div>
  {% elif current_job_form %}
    <input type="hidden" name="employee" value="{{ employee_id }}">
    {% for field in current_job_form.visible_fields %}
      <div class="form-row">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
    <div class="submit-row">
      <input type="submit" name="_set_work_place" value="Göndər">
    </div>
  {% endif %}
</form>
{% endblock %}