{% load i18n static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "hr/css/base.css" %}">
</head>
<body>
  <div class="base-layout">
    <div class="sidebar">
      <h2>Payroll system</h2>
      <a class="sidebar__link employees-icon" href="{% url "hr:index" %}">İşçilər</a>
      <a class="sidebar__link add-employee-icon" href="{% url "hr:add_employee" %}">İşçinin qeydiyyatı</a>
      <a class="sidebar__link vacations-icon" href="{% url "hr:vacations" %}">Məzuniyyətlər</a>
    </div>
    <div class="base-container">
      <header>
        <div class="container">
          <a class="logout" href="#">ÇIX</a>
        </div>
      </header>
      <main>
        <div class="container">
          {% block main_content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>
  <script>
    "use strict";

    const links = document.querySelectorAll(".sidebar__link");

    for (let link of links) {
      if (link.href == window.location.href) {
        link.classList.add("sidebar__link_current");
        break;
      }
    }
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>