{% extends "hr/base.html" %}
{% load i18n static %}
{% block title %}İşçini işdən çıxarmaq{% endblock %}
{% block main_content %}
<div class="confirmation-container">
  <p>{{ employee }} adda işçi işden azad edilsin?</p>
  <p>
    <img src="{% static "hr/img/icon-alert.svg" %}" alt="DİQQƏT!">
    İşçi işdən azad edilsə onun bütün məlumatları sistemden silinəcək.
  </p>
  <form method="post">
    {% csrf_token %}
    <a class="cancle-btn" href="/hr/{{ employee.id }}/">Xeyr geri dön</a>
    <input class="red-btn submit-btn" type="submit" value="İşdən azad et">
  </form>
</div>
{% endblock %}