{% extends "hr/base.html" %}
{% load i18n static %}
{% block title %}İşçilər cədvəli{% endblock %}
{% block main_content %}
<div class="table-wrapper">
  <table class="employees-table">
    <thead>
      <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Ata adı</th>
        <th>Yaşı</th>
        <th>Şirkəti</th>
        <th>Şöbəsi</th>
        <th>İxtisası</th>
        <th>Filialı</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr data-href="{{ employee.id }}">
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.father_name }}</td>
          <td>{{ employee.get_age }}</td>
          <td>{{ employee.currentjob.company.name }}</td>
          <td>{{ employee.currentjob.department.name }}</td>
          <td>{{ employee.currentjob.position.name }}</td>
          <td>{{ employee.currentjob.branch.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script>
  "use strict";

  const employeesTable = document.querySelector(".employees-table");
  const tableRows = Array.from(employeesTable.tBodies[0].rows);
  let cellIndex;

  employeesTable.addEventListener("click", function(event) {
    const target = event.target.closest("[data-href]") || event.target.closest("th");
    
    if (!target) {
      return;
    } else if (target.dataset.href) {
      window.location += target.dataset.href + '/';
      return;
    } else if (target.nodeName != "TH") {
      return;
    }

    if (cellIndex != target.cellIndex) {
      cellIndex = target.cellIndex;

      tableRows.sort(function(tr1, tr2) {
        return tr1.cells[cellIndex].textContent.localeCompare(tr2.cells[cellIndex].textContent, "az");
      });
    } else {
      tableRows.reverse();
    }

    employeesTable.tBodies[0].append(...tableRows);
  });
</script>
{% endblock %}