@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* SIDEBAR */

.sidebar {
  width: 180px;
  position: fixed;
  height: 100%;
  border-right: solid 2px rgb(241, 243, 245);
  background-color: white;
}

.sidebar h2 {
  padding: 15px;
}

.sidebar li {
  padding: 10px;
  list-style: none;
}

.link {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  margin-left: 38px;
}

.selected-link {
  background-color: rgb(241, 243, 245);
}

.link::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: -35px;
}

.employees-icon::before {
  background: no-repeat url(../img/employees-icon.svg);
  width: 25px;
  height: 25px;
}

.add-employee-icon::before {
  background: no-repeat url(../img/add-employee-icon.svg);
  width: 28px;
  height: 28px;
}

/* MAIN */

header {
  border-bottom: solid 2px rgb(241, 243, 245);
}

.container {
  width: 100%;
  padding: 15px;
  padding-left: 197px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.header-row {
  justify-content: flex-end;
}

.logout {
  font-size: 16px;
  margin-right: 25px;
  position: relative;
}

.logout::after {
  content: "";
  background-image: url(../img/logout.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  left: 30px;
}