@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

/* SIDEBAR */

.sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  border-right: solid 2px rgb(241, 243, 245);
  background-color: #fff;
}

.sidebar h2 {
  padding: 10px 15px;
}

.link {
  font-weight: 700;
  position: relative;
  display: block;
  padding: 10px 0 10px 50px;
}

.link:hover {
  background-color: rgb(241, 243, 245);
}

.selected-link {
  background-color: rgb(241, 243, 245);
  border: solid 1px rgb(222, 226, 230);
  border-right: none;
}

.link::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
}

.employees-icon::before {
  background: no-repeat url(../img/employees-icon.svg);
}

.add-employee-icon::before {
  background: no-repeat url(../img/add-employee-icon.svg);
}

/* MAIN */

header {
  box-shadow: 0 0px 6px rgb(150, 150, 150);
  text-align: right;
}

.container {
  width: 100%;
  padding: 15px 15px 15px 217px;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.logout {
  padding-right: 25px;
  position: relative;
}

.logout::after {
  content: "";
  background: no-repeat url(../img/logout-icon.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  right: 4  px;
}

/* EMPLOYEE PROFILE */

.photo {
  display: block;
  margin: auto;
}

.photo-size {
  width: 200px;
  height: 266px;
}

.actions {
  margin: 20px auto 0;
  width: 180px;
  border: solid 2px rgb(222, 226, 230);
  border-radius: 5px;
  padding: 10px;
}

.actions h4 {
  color: rgb(75, 75, 75);
  padding: 5px 10px 10px;
}

.actions li {
  list-style: none;
  padding: 10px 0 0;
}

.actions li:hover {
  background-color: rgb(241, 243, 245);
  border-radius: 5px;
}

.actions a {
  padding-left: 30px;
  position: relative;
}

.actions a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
}

.dismiss-employee-icon::before {
  background: no-repeat url(../img/dismiss-employee-icon.svg);
}

.confirmation-container p {
  padding: 10px 0;
}

/* TABLES */

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(222, 226, 230);
  padding: 7px;
}

.employees-table tbody tr:hover, .employees-table th:hover {
  cursor: pointer;
  box-shadow: inset 1px 0 0 #dadce0,
    inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60,64,67,.3),
    0 1px 3px 1px rgba(60,64,67,.15);
}

/* FORMS */

form input, form select {
  padding: 8px 12px;
  border-radius: 4px;
}

form input[type="file"] {
  padding: 0;
  min-width: auto;
  border: none;
}

form input[type="submit"] {
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.form-row {
  padding: 6px 0;
}

.form-row input {
  min-width: 400px;
  border: solid 1px rgb(118, 118, 118);
}

.label-div {
  text-align: right;
  padding-right: 30px;
}

.errorlist {
  list-style: none;
  color: red;
}

.submit-row {
  padding-top: 42px;
  text-align: right;
  padding-right: 10%;
}

.submit-row input {
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
}

.submit-row input:hover {
  background-color: #0069d9;
  transition: background-color .15s ease-in-out;
}

.delete-button {
  background-color: #ba2121;
  color: #fff;
  margin-right: 10px;
}

.cancle-button {
  background-color: #ddd;
  padding: 8px 12px;
  border-radius: 4px;
}

/* COLUMNS */

.col-lg-3 {
  width: 25%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-6 {
  width: 50%;  
}