@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.base-layout {
  padding-left: 191px;
}

/* SIDEBAR */

.sidebar {
  width: 190px;
  height: 100%;
  position: fixed;
  left: 0;
  border-right: solid 1px rgb(222, 226, 230);
  background-color: #fff;
}

.sidebar h2 {
  padding: 10px 15px;
}

.sidebar__link {
  font-weight: 700;
  position: relative;
  display: block;
  padding: 10px 0 10px 50px;
}

.sidebar__link:hover {
  background-color: rgb(241, 243, 245);
}

.sidebar__link_current {
  background-color: rgb(241, 243, 245);
  border: solid 1px rgb(222, 226, 230);
  border-right: none;
}

.sidebar__link::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
}

.employees-icon::before {
  background: no-repeat url(../img/employees-icon.svg);
}

.add-employee-icon::before {
  background: no-repeat url(../img/add-employee-icon.svg);
}

.vacations-icon::before {
  background: no-repeat url(../img/vacations-icon.svg);
}

/* BASE-CONTAINER */

header {
  box-shadow: 0 0 6px rgb(150, 150, 150);
  text-align: right;
}

.container {
  width: 969px;
  margin: 0 auto;
  padding: 15px;
}

.logout {
  padding-right: 21px;
  position: relative;
}

.logout::after {
  content: "";
  background: no-repeat url(../img/logout-icon.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  right: 0;
}

.row {
  display: flex;
}

/* EMPLOYEE PROFILE */

.employee-photo {
  display: block;
  margin: auto;
}

.default-photo {
  border-bottom: solid 2px rgb(222, 226, 230);
}

.employee-photo-size {
  width: 200px;
  height: 266px;
}

.actions {
  margin: 20px auto 0;
  width: 180px;
  border: solid 2px rgb(222, 226, 230);
  border-radius: 5px;
  padding: 10px;
}

.actions h4 {
  color: rgb(75, 75, 75);
  padding: 5px 10px 10px;
}

.actions li {
  padding: 5px 0;
  border-radius: 5px;
}

.actions li:hover {
  background-color: rgb(241, 243, 245);
}

.action {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.action::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 4px;
  top: 3px;
}

.dismiss-employee-icon::before {
  background: no-repeat url(../img/dismiss-employee-icon.svg);
}

.send-vacation-icon::before {
  background: no-repeat url(../img/send-vacation-icon.svg);
}

.change-icon::before {
  background: no-repeat url(../img/change-icon.svg);
}

.modal-window-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.modal-window {
  width: 30%;
  margin: 15% auto 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
}

.modal-window__head {
  justify-content: flex-end;
  padding: 5px;
}

.close-window {
  cursor: pointer;
}

.close-window > div {
  width: 18px;
  height: 18px;
  background-color: rgb(50, 50, 50);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.modal-window form {
  display: none;
}

.show {
  display: block !important;
}

/* TABLES */

table {
  border-collapse: collapse;
}

th, td {
  border: solid 1px #dee2e6;
  padding: 7px 5px;
  white-space: nowrap;
}

.table-wrapper {
  overflow: auto;
  border: solid 1px #dee2e6;
  border-top: none;
  border-bottom: none;
}

.employees-table {
  width: 100%;
  cursor: pointer;
}

.employees-table td {
  border-left: none;
  border-right: none;
}

.employees-table th {
  background-color: #343a40;
  color: #fff;
  border: none;
}

.employees-table tbody tr:hover {
  box-shadow: inset 1px 0 0 #dadce0,
    inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60,64,67,.3),
    0 1px 3px 1px rgba(60,64,67,.15);
}

.calendar-container {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  font-size: 11px;
  border: solid 1px #000;
  border-radius: 4px;
  width: 152px;
  padding: 0 10px;
}

.calendar-table th, .calendar-table td {
  padding: 4px;
  border: none;
}

.calendar-table td:hover {
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: #fff;
}

.calendar-head {
  justify-content: space-between;
  padding: 10px 0;
}

.arrows {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* FORMS */

input, select {
  padding: 8px 12px;
  border: solid 1px rgb(118, 118, 118);
  border-radius: 4px;
}

.form-row {
  padding: 6px 0;
}

.form-row input {
  min-width: 400px;
}

.modal-window .form-row input {
  min-width: auto;
}

input[type="checkbox"], input[type="radio"] {
  min-width: auto;
}

input[type="file"] {
  padding: 0;
  min-width: auto;
  border: none;
}

.label-div {
  text-align: right;
  padding-right: 30px;
}

.errorlist {
  color: red;
}

.submit-row {
  padding-top: 42px;
  text-align: right;
}

.submit-btn {
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #fff;
}

.blue-btn {
  background-color: rgb(0, 123, 255);
}

.blue-btn:hover {
  background-color: #0069d9;
  transition: background-color .15s ease-in-out;
}

.red-btn {
  background-color: #ba2121;
}

.cancle-btn {
  background-color: #ddd;
  padding: 8px 12px;
  border-radius: 4px;
}

.radio-field li {
  display: inline;
  margin-right: 15px;
}

.radio-field li:first-child {
  display: none;
}

/* COLUMNS */

.col-lg-3 {
  width: 25%;
}

.col-lg-6 {
  width: 50%;  
}

.col-lg-9 {
  width: 75%;
}