.form-row {
  padding: 5px 0;
}

.form-row label {
  font-weight: 700;
}

.form-row input, .form-row select {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;
}

.form-row select {
  width: auto;
}

.form-row ul {
  color: red;
  list-style: none;
}

.submit-row {
  padding-top: 5px;
}

.submit-row input{
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
}