.form-row {
  padding: 5px 0;
}

.form-row label {
  font-weight: 700;
  display: block;
}

.form-row input,
.form-row select {
  padding: 6px 12px;
  border-radius: 4px;
}

.form-row .errorlist {
  color: red;
  list-style: none;
}

.submit-row {
  padding-top: 5px;
}

.submit-row button{
  background-color: #007bff;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
}

.date-row input {
    display: none;
}